kind: Project
apiVersion: project.openshift.io/v1
metadata:
  name: {{ ocp_app_namespace }}
  annotations:
    openshift.io/description: 'The greatest shooter ever'
    openshift.io/display-name: 'Battlefield'
